<ion-content>
    <div class="d-flex-center" id="login-container">
        <form >
            <app-logo></app-logo>
            <h6>Elige el rol que más se adapte a ti</h6>
            <div class="button-container">
                <div class="button-wrapper">
                    <ion-button color="none" expand="block" mode="ios" class="submit" type="submit" routerLink="arbitro">  <!-- el routerLink lo lleva al modulo en este caspo de abitro  -->
                        <img src="../../../assets/imagenes/Camisa.png" alt="">
                    </ion-button>
                    <h5>Arbitro</h5>
                </div>
                <div class="button-wrapper">
                    <ion-button color="none" expand="block" mode="ios" class="submit" type="submit" routerLink="organizador">
                        <img src="../../../assets/imagenes/Cancha.png" alt="">
                    </ion-button>
                    <h5>Organizador</h5>
                </div>
            </div>
        </form>
    </div>
</ion-content>
